* {
  text-align: center;
  font-family: helvetica;
}
header {
  background-image: url("../images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
ul {
  list-style: none;
}
a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}
